/*
Paleta de colores
03045e
0077b6
00b4d8
90e0ef
caf0f8

*/
.paleta{
  color: #03045e;
  color: #00442e;
  color: #00599d;
  color: #0077b6;
  color: #0098c2;
  color: #00a5cf;
  color: #00b4d8;
  color: #90e0ef;
  color: #caf0f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6rem;
  z-index: 2;
}

.division{
  background-size: cover;
  background-position: 50% 50%;
  background-color: white;
  margin: 0;
  height: 100vh;
}

.division_sinlimite{
  background-size: cover;
  background-position: 50% 50%;
  margin: 0;
}
.my-10{
  margin-top: 10%;
  margin-bottom: 10%;
}
.lineacirculos{
  background-image: url('/img/decoraciones/circles-mobile.png');
  background-size: 30%;
  background-repeat: repeat-x;
  height: 110px;
}
.lineaflechas{
  background-image: url('/img/decoraciones/blue-arrows-5.png');
  background-size: 120%;
  background-repeat: repeat-x;
  height: 110px;

}

.contenedor_index_2da_division{
  height: 400px;
}

.divisioncirc{
  background-image: url('/img/fondos/fondo_circulos.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  min-height: 100vh;

}
.division1{
  background-image: url('/img/fondos/fondo2.jpg');

}
.division2{
  background-image: url('/img/fondos/fondo3.jpg');

}
.division3{
  background-image: url('/img/fondos/fondo4.jpg');

}
.division4{
  background-image: url('/img/fondos/fondo1.jpg');

}
.division5{
  background-image: url('/img/fondos/fondo5.jpg');

}

#titulo_empresa{
  font-size: 3.5rem;
  color: white;
  opacity: 0;
}

#titulo_empresa.visible {
  opacity: 1 ;
  transform: scale(0.9);
  transition: 1.5s ease all;
}
#subtitulo_empresa.visible {
  opacity: 1 ;
  transform: scale(0.9);
  transition: 1.5s ease all;
}
#tituloplacas_empresa{
  opacity: 0;
}
#placa1_empresa{
  opacity: 0;
  transform: translateY(100%);
}
#placa2_empresa{
  opacity: 0;
  transform: translateY(100%);
}
#placa3_empresa{
  opacity: 0;
  transform: translateY(100%);
}


#titulo_clientes.visible{
  opacity: 1;
  transition: 1.7s ease all;
}

#titulo_servicios.visible{
  opacity: 1;
  transition: 1.7s ease all;
}



#placa1_empresa.visible {
  opacity: 1;
  transition: 1.7s ease all;
  transform: translateY(0);
  transition-delay: 0.4s;
}
#placa2_empresa.visible{
  opacity: 1;
  transition: 1.7s ease all;
  transform: translateY(0);
  transition-delay: 0.9s;
}

#placa3_empresa.visible{
  opacity: 1;
  transition: 1.7s ease all;
  transform: translateY(0);
  transition-delay: 1.4s;
}

#tituloplacas_empresa.visible {
  opacity: 1 ;
  transition: 1s ease all;
}
#subtitulo_empresa{
  font-size: 1.5rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  opacity: 0;

}

.subtitulo_servicios{
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  color: rgb(54, 54, 54);
  text-align:center;
}



.titulo_clientes{
  margin-bottom: 43px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
  color: white;
  text-align:center;
  opacity: 0;
}

.contenido_principal_titulo_clientes{
  font-weight: 300;
  font-style: normal;
  font-size: 2.8rem;
  color: rgb(0, 0, 0);
  text-align:center;
  font-family: Montserrat;
  color: #0077b6;
}
.subtitulo_clientes{
  margin-bottom: 15px;
  width: 45%;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  text-align:center;
  font-family: 'Montserrat';

}

.bold_suave{
  font-weight: 500;
}
.flechas{
  height: 200px;
  width: 200px;
  margin-top: 1%;
  margin-bottom: 2%;
  padding: 0;
}


.sombreado::before {
  content: "";
  position: absolute;
  top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
  background: linear-gradient(rgba(14, 15, 14, 0.5), rgba(14, 15, 14, 0.5)); /* Define el degradado opaco */
  /*background: linear-gradient(rgba(73, 90, 105, 0.8), rgba(138, 139, 155, 0.8));  */
  /* background: linear-gradient(rgba(14, 15, 14, 0.5), rgba(14, 15, 14, 0.5));*/
  /* background: linear-gradient(rgba(14, 15, 14, 0.5), rgba(14, 15, 14, 0.5));*/
}

.sombreadointenso::before {
  content: "";
  position: absolute;
  top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  background: linear-gradient(rgba(14, 15, 14, 0.8), rgba(14, 15, 14, 0.8)); 
  /*background: linear-gradient(rgba(73, 90, 105, 0.8), rgba(138, 139, 155, 0.8));  */
  /* background: linear-gradient(rgba(14, 15, 14, 0.5), rgba(14, 15, 14, 0.5));*/
  /* background: linear-gradient(rgba(14, 15, 14, 0.5), rgba(14, 15, 14, 0.5));*/
}



.fondo_placas{
  background-image: linear-gradient(to righ, rgb(31, 40, 63),  rgb(80, 89, 113)); /* Degradado lineal de arriba a abajo */


}

.whatsapp {
  position:fixed;
  width:100px;
  height:100px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50%;
  text-align:center;
  font-size:30px;
  z-index:100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  transition: all 300ms ease;
}

.whatsapp:hover {
  background-color:white;
  transition: color 0.3s; /* Transición suave */
}

.whatsapp:hover i{
    color: #25d366;
    transition: color 0.3s; /* Transición suave */
}

.texto_placas_titulo{
  font-size: 2rem;
  font-weight: 500;
  font-family:'Montserrat', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
.texto_placas_cuerpo{
  font-size: 1rem;
  font-weight: 400;
  font-family:'Open Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  


.boton-redondo {
  background-image: url('/img/boton.go.png');

  background-size: cover;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px 30px;
  width: 100px;
  height: 100px;
  font-size: 16px;
  cursor: pointer;
}

@keyframes latido {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}


.limpiado {
  filter: blur(0); /* Eliminar difuminado */
}

.boton-redondo:hover {
  transform: scale(1.3);
}

.imagen_cliente{
  width: 160px;
  height: 160px;
}


.flecha_abajo{
  width: 60px;
}

.empresa{
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 20% 30% 50%;
  justify-content: center; 
  align-items: center; 
}
.contenedor_empresa {
  background: linear-gradient(to bottom, #24a2e6  45%, #ffffff 45%);
}

.contenedor_titulos_empresa{
  text-align: left;
  padding-top: 90px;
  padding-bottom: 10px;
  text-align: center;
}
.subtitulo_empresa2dadiv {
  color: #ffffff;
  font-size: 3rem;
  padding-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-left: 4rem;
}
.subtitulo_empresa2dadiv2{
  color: #caf0f8;
  font-size: 1.5rem;
  margin-left: 4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.titulo_categorias_empresas{
  margin: 5%;
  margin-bottom: 30px;
  margin-top: 0px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color:rgb(66, 66, 66);
}

.elemento{
  margin: 4%;
  background-color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.margin-xgrande{
  margin-left: 70px;
  margin-right: 70px;
}

.texto_celdas_empresa{
  font-weight: 300;
  color:black;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-bottom: 15px;
}

.elemento_empresa_icono{
  width: 220px;
  background-size: auto;
  background-image: none;
  margin-bottom: 0px;
}

.fondoblanco {
  background-color: white;
}
.fondonegro {
  background-color: rgb(0, 0, 0);
}

.letranegra{
  color: rgb(170, 170, 170);
}

.placas{
  margin-top: 35px;
  margin-bottom: 15px;
  padding-top: 30px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  transition: background-color 0.3s;
  min-height: 400px;
  background-position: top right;
  background-size: 120%;
  background-repeat: no-repeat;
}
.placa1{
  background-image: url(../img/decoraciones/fondo-celdas-modelo1.png);
}
.placa2{
  background-image: url(../img/decoraciones/fondo-celdas-modelo2.png);
}
.placa3{
  background-image: url(../img/decoraciones/fondo-celdas-modelo3.png);
}
.placa1:hover{
  background-image: none;
  background-color: #00599d;
}
.placa2:hover{
  background-image: none;
  background-color: #00599d;
}
.placa3:hover{
  /*background-image: url(../img/decoraciones/fondo-celdas-modelo3-dark.png);*/
  background-image: none;
  background-color: #00599d;
}


.placas:hover {
  color: white;
  border: 1px solid #00b4d8;
  transition:  0.4s ease;
}




.fila_placas{
  margin-left: 5%;
  margin-right: 5%;
}


header {
  padding: 0.3rem 2rem;
  z-index: 1;
}


header nav .imag__logo {
  width: 150px;
  margin-left: 25px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

header nav .menu__link {
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 2rem 3rem 2rem 3rem;
  padding: 0;
  transition: 0.2s ease all;
}

header nav .menu__link:hover {
  color: #0d6efd;
}



main {
  min-height: 100vh;
}


footer {
  background-color: white;
  color: #7A7A7B;
  font-family: 'Roboto', sans-serif;
}

footer h2 {
  color: #333333;
  font-weight: bold;
}
.formulario{
  padding-top: 1px;
  padding-bottom: 100px;
  padding-left: 25%;
  padding-right: 25%;
  border-top-right-radius: 180px;
  font-family: 'Montserrat', 'Roboto', sans-serif;


}
.estilo_imput{
  border-radius:5px;
}

.estilo_textarea{
  border-radius:5px;
  height: 250px;
  

}

.boton_enviar{
  border-radius: 10px;
  width: 100px;
  background-color: #0077b6;
  border: 0px ;
  transition: all 300ms ease;
}

.boton_enviar:hover{
  color: black;
  background-color: #ffffff;
  border: 1px solid #086072;
}
.titulo_Contacto{
  font-size: 2rem;
  max-width: 800px;
  text-align: center;
  color: white;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 700;
}
.subtitulo_Contacto{
  font-size: 1rem;
  max-width: 800px;
  text-align: center;
  color: white;
  padding-bottom: 60px;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 600;
}
.pie__derechos{
  border-top: 1px solid #a09c9c;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.4rem;
}



@media (max-width: 480px) {

  .boton-redondo {
    margin-top: 40px;
    animation: latido 3s infinite;
  }
  .subtitulo_empresa2dadiv{
    margin: 0;
  }

  .subtitulo_empresa2dadiv2{
    margin: 0;
  }
  .placas{
    margin: 0;

  }
  .margin-xgrande{
    margin: 10px;

  }
  .texto_celdas_empresa{
    margin: 45px;
  }
  .titulo_categorias_empresas {
    font-size: 1.9rem;
  }
  .placas {
    margin-bottom: 40px;
  }
  .subtitulo_servicios{
    font-size: 1.5rem;
  }
  .contenido_principal_titulo_clientes {
    font-size: 2rem;
  }
  .subtitulo_clientes  {
    font-size: 1.2rem;
    width: 80%;

  
  }

  .formulario  {
    padding: 10px 10px 50px 10px;
    border-radius: 0;
  }

  .titulo_Contacto{
    padding-top: 60px;
  }
}